/*  GRID-CONTAINER:

    grid-template-areas: sirve para definir las areas de un contenedor. si un "" tiene 3 valores, los demas tienen que tener como minimo 3, si tiene 4, minimo 4 y asi.


*/


* {
    font-family: "Sen", sans-serif;
    font-weight: 400;
}

body {
    background: radial-gradient(circle, #fff, #bbb);
}

.grid-container {
    display: grid;
    background: #444;
    margin: 10px;
    height: 92vh;
    border: 5px solid #000;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas:
    "header header header"
    "aside main main"
    "aside main main"
    "aside main main"
    "aside main main"
    "aside main main"
    "aside main main"
    "footer footer footer";

}

.grid-item {
    padding: 20px;
}

.grid-header {
    background: #f96;
    grid-area: header;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #555;
}

.grid-aside {
    background: #888;
    grid-area: aside;
}

.grid-main {
    background: #96f;
    grid-area: main;
}


.grid-footer {
    background: #6f9;
    grid-area: footer;
}