div {
    width: 400px;
    height: 400px; /* si le doy auto, se agranda para ajustar al contenido */
    margin: 20px auto;
    border: 4px solid green;
    padding: 15px;
    
}

div img {
    float: right;
    width: 20%;
    margin: 10px;
}